build
.cache
.cache/*
compile_commands.json

.spackle/*
!.spackle/spackle.py

external/*
!external/llm

.claude
.mcp.json
CLAUDE.md
doc/*
!doc/skill
**/.DS_Store
**/*.dSYM
/.llm/reference
/.llm
**/.vs
**/*.vcxproj.user
/mutagen.yml.lock
.tmp
**/*.exe
**/*.ilk
**/*.obj
**/*.pdb
**/*.idx
/mutagen.yml
/tools/msys64
/tools/w64devkit
